<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>coronironi oAuth</title>
  <style>
    body{
        font-family: arial;
        margin: 0;
    }
    nav{
        background: hotpink;
        padding: 10px 10px;
    }
    nav ul{
        max-width: 960px;
        margin: 0 auto;
        padding: 0;
    }
    nav li{
        list-style-type: none;
        display: inline-block;
        margin: 0 10px 0 0;
    }
    nav a{
        color: #fff;
        font-size: 18px;
        background: rgba(255,255,255,0.2);
        text-decoration: none;
        padding: 10px;
        display: block;
    }
    main, header{
        max-width: 960px;
        margin: 30px auto;
        padding: 0 10px;
        color: #333;
    }
</style>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Homepage</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      <li><a href="/auth/login">Login</a></li>
    </ul>
  </nav>
  <header>
    <h1>Hoidy Welcome to HealthQuery</h1>
    <h2>hide your kids, hide your wife</h2>
  </header>
  <main>
    <p>HealthQuery Coronivirus</p>
  </main>
</body>
</html>
