body {
    background: url(redCoroni.jpg)
    no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;
    
}

#title {
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 5vw;
    margin-bottom: 2vw;
    font-size: 45px;
    font-weight: 700;
}
 
#loginDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
} 

#userInput {
  width: 70%;
  height: 30px;
  margin : 5px;
}

#passInput {
  width: 70%;
  height: 30px;
  margin : 5px;
}

#loginSection {
  color: red;
  /* border-style: solid; */
  background: white;
  height: 350px;
  width: 300px;
  margin: auto;
  box-shadow: 5px 5px 10px 2px grey;
  } 

#logButton {
    width: 70%;
    height: 30px;
    margin : 10px;
    background:gainsboro;
}
#signButton {
    width: 70%;
    height: 30px;
    margin : 10px;
    background:gainsboro;
}

#oAuthButton {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#gButton {
    width: 40%;
    height: 30px;
    margin: 10px;
    background: rgb(221, 75, 57);
    color: white;
    text-align: center;
}

#fbButton {
    width: 40%;
    height: 30px;
    margin: 10px;
    background:rgb(66,103,178);
    color: white;
}

#mapSection {
  display: flex;
  flex-direction: row;
}

#mapDiv {
      background: white;
      width: 50%;
      margin: 50px;
  }
#mapBox {
    width: 30%;
    background: black;
    margin: 50px;
    text-align: center;
}

#AdminDiv {
    /* background:white; */
    width: 85%;
    margin: 35px;
    text-align: center;
}

#reportSection {
    margin: 35px;
}

#heatMap {
  margin-top: 3vw;
  margin-left: 10vw;
  height: 30vw;
  width: 40vw;
}

#container {
  text-align: center;
}